__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv*/
venv/
env/

# Data and artifacts
/data/
reports/
logs/
*.log
*.parquet
*.csv
*.png

# IDEs
.idea/
.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
